<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <dubbo:application name="spring-dubbo-provider-annotation"/>

    <dubbo:registry address="zookeeper://localhost:2181"/>

    <dubbo:protocol name="dubbo" port="20881">
        <!--使用 parameter 参数 key= scope，value！=local时，则dubbo 只进行 remote的服务暴露
        若，不指定 scope 参数，则dubbo对 服务进行 本地和remote 的双重 暴露-->
        <dubbo:parameter key="scope" value="remote"/>
    </dubbo:protocol>

    <dubbo:annotation package="com.mimu.simple.spring.dubbo.provider.service"/>

    <dubbo:monitor protocol="registry"/>
</beans>