<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <dubbo:application name="spring-dubbo-provider" logger="slf4j"/>

    <dubbo:registry address="zookeeper://localhost:2181" check="true" timeout="5000"/>

    <dubbo:protocol name="dubbo" port="20880"/>

    <dubbo:service interface="com.mimu.simple.sd.api.HelloStringApi"
                   ref="helloStringImpl" timeout="3000" retries="0">
        <dubbo:method name="hello" retries="3" timeout="1000"/>
    </dubbo:service>

    <dubbo:service interface="com.mimu.simple.sd.api.UserDataApi"
                   ref="userDataApiImpl" timeout="3000" retries="0"/>
    <!-- 上述 dubbo:service ref 中需要引用 spring bean 所以在spring 容器中需注册 userDataApiImpl bean
     由于在com.mimu.simple.sd.provider.service.UserDataApiImpl 类中使用了 @Component 注解
     所以下面的 注册可忽略-->
    <!--<bean name="userDataApiImpl" class="com.mimu.simple.sd.provider.service.UserDataApiImpl"/>-->
    <dubbo:monitor protocol="dubbo"/>

</beans>