<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/user"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 两种配置 文件 -->
        <mapper resource="sqlxml/user.xml"/>
        <!-- 使用package 可以 可以批量配置 mapper.xml 单需注意一下几点 -->
        <!--1. mapper 接口和 mapper.xml 必须在同一个 目录  -->
        <!--2. mapper 接口的名称 和 mapper.xml 的文件名称(包含大小写) 一致  -->
        <package name="com.mimu.simple.mybatis.mapper"/>
    </mappers>
</configuration>